@page "/Customers"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Kunden</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Kunden</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Href="/Customers/Add" />
</MudStack>

@if (customers == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudDataGrid Items="@customers" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Kundennr." />
            <PropertyColumn Property="x => x.Firstname" Title="Vorname" />
            <PropertyColumn Property="x => x.Lastname" Title="Nachname" />
            <PropertyColumn Property="x => x.DateEnrollment" Title="Kunde seit" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Icon="@Icons.Material.Outlined.FindInPage" Href="@($"/Customers/{context.Item.Id}")" Size="@Size.Small" Color="@Color.Primary"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Href="@($"/Customers/{context.Item.Id}/Edit")" Size="@Size.Small" Color="@Color.Primary"></MudIconButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}