@page "/Customers"
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.Customer
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager _navigationManager
@inject ICustomerService _customerService

<PageTitle>Kunden</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Kunden</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Href="/Customers/Add" />
</MudStack>

@if (customers == null)
{
    <p><em>Lade...</em></p>
}
else
{

    <MudDataGrid Items="@customers" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Kundennr." />
            <PropertyColumn Property="x => x.Firstname" Title="Vorname" />
            <PropertyColumn Property="x => x.Lastname" Title="Nachname" />
            <PropertyColumn Property="x => x.EnrollmentDate" Title="Kunde seit" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/Customers/{context.Item.Id}/edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

