@page "/TaxClasses"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.TaxClass

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IDataService<ICollection<TaxClassListDto>> DataService

<PageTitle>Steuersätze</PageTitle>

<MudText Typo="Typo.h4" Class="mb-8">Steuersätze</MudText>

@if (taxClasses == null)
{
    <p><em>Lade...</em></p>
}
else
{

    <MudDataGrid Items="@taxClasses" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="ID" />
            <PropertyColumn Property="x => x.TaxRate" Title="Steuersatz in %" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/TaxClasses/{context.Item.Id}/edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <MudButton Href="/TaxClasses/add" Variant="Variant.Filled" Color="Color.Primary">Neu</MudButton>
}

@code {

    private ICollection<TaxClassListDto>? taxClasses;

    protected override async Task OnInitializedAsync()
    {
        taxClasses = await DataService.Request("GET", "/TaxClasses/GetAll");
    }
}