@page "/TaxClasses"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.TaxClass

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IApiDataProvider<ICollection<TaxClassListDto>> _apiDataProvider

<PageTitle>Steuersätze</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Lager</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.Add" Color="Color.Primary" Href="/TaxClasses/Add" />
</MudStack>

@if (taxClasses == null)
{
    <p><em>Lade...</em></p>
}
else
{

    <MudDataGrid Items="@taxClasses" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="ID" />
            <PropertyColumn Property="x => x.TaxRate" Title="Steuersatz in %" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/TaxClasses/{context.Item.Id}/Edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {

    private ICollection<TaxClassListDto>? taxClasses;

    protected override async Task OnInitializedAsync()
    {
        taxClasses = await _apiDataProvider.Request("GET", "/TaxClasses/GetAll");
    }
}