@page "/Customers/Create"
@page "/Customers/{customerId:int}/Edit"
@using Microsoft.AspNetCore.Authorization
@using maERP.Domain.Enums

@attribute [Authorize]

<PageTitle>@Title</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">@Title</MudText>
    <MudSpacer />
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Size="Size.Large"
               ButtonType="ButtonType.Button"
               OnClick="@(OnValidSubmit)">Speichern</MudButton>
    <MudButton Variant="Variant.Outlined"
               Color="Color.Secondary"
               Size="Size.Large"
               ButtonType="ButtonType.Button"
               OnClick="@(NavigateToList)">Abbrechen</MudButton>
</MudStack>

<MudForm Model="@Customer" @ref="@Form">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Kunde">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-4" Elevation="0">
                        <MudText Typo="Typo.subtitle1" Class="mb-4 font-weight-bold">Kundendaten</MudText>
                        
                        <MudStack Spacing="4">
                            @if (customerId != 0)
                            {
                                <MudTextField @bind-Value="Customer.Id"
                                          For="@(() => Customer.Id)"
                                          Label="Kundennummer"
                                          Variant="Variant.Text"
                                          ReadOnly="true"
                                          Disabled="true">
                                </MudTextField>
                            }

                            <MudTextField @bind-Value="Customer.Firstname"
                                          For="@(() => Customer.Firstname)"
                                          Label="Vorname"
                                          Variant="Variant.Text"
                                          Required="true">
                            </MudTextField>

                            <MudTextField @bind-Value="Customer.Lastname"
                                          For="@(() => Customer.Lastname)"
                                          Label="Nachname"
                                          Variant="Variant.Text"
                                          Required="true">
                            </MudTextField>

                            <MudTextField @bind-Value="Customer.CompanyName"
                                          For="@(() => Customer.CompanyName)"
                                          Label="Firma"
                                          Variant="Variant.Text">
                            </MudTextField>

                            <MudSelect @bind-Value="Customer.CustomerStatus"
                                      For="@(() => Customer.CustomerStatus)"
                                      Label="Status"
                                      Variant="Variant.Text"
                                      Required="true">
                                <MudSelectItem Value="@CustomerStatus.Active">Aktiv</MudSelectItem>
                                <MudSelectItem Value="@CustomerStatus.Inactive">Inaktiv</MudSelectItem>
                                <MudSelectItem Value="@CustomerStatus.NoDoi">Keine Double-Opt-In</MudSelectItem>
                            </MudSelect>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-4" Elevation="0">
                        <MudText Typo="Typo.subtitle1" Class="mb-4 font-weight-bold">Kontaktdaten</MudText>
                        
                        <MudStack Spacing="4">
                            <MudTextField @bind-Value="Customer.Email"
                                          For="@(() => Customer.Email)"
                                          Label="E-Mail"
                                          Variant="Variant.Text"
                                          InputType="InputType.Email">
                            </MudTextField>

                            <MudTextField @bind-Value="Customer.Phone"
                                          For="@(() => Customer.Phone)"
                                          Label="Telefon"
                                          Variant="Variant.Text">
                            </MudTextField>

                            <MudTextField @bind-Value="Customer.Website"
                                          For="@(() => Customer.Website)"
                                          Label="Website"
                                          Variant="Variant.Text">
                            </MudTextField>

                            <MudTextField @bind-Value="Customer.VatNumber"
                                          For="@(() => Customer.VatNumber)"
                                          Label="USt-IdNr."
                                          Variant="Variant.Text">
                            </MudTextField>
                            
                            @*<MudDatePicker @bind-value="Customer.DateEnrollment"
                                           For="@(() => Customer.DateEnrollment)"
                                           Label="Anmeldedatum"
                                           Variant="Variant.Text"
                                           DateFormat="dd.MM.yyyy">
                            </MudDatePicker>*@
                        </MudStack>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudPaper Class="pa-4 mt-4" Elevation="0">
                        <MudText Typo="Typo.subtitle1" Class="mb-2 font-weight-bold">Notizen</MudText>
                        <MudTextField @bind-value="Customer.Note"
                                      For="@(() => Customer.Note)"
                                      Label="Notizen"
                                      Variant="Variant.Text"
                                      Lines="5">
                        </MudTextField>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        
        <MudTabPanel Text="Adressen">
            @if (Customer.CustomerAddresses.Any())
            {
                <MudDataGrid Items="@Customer.CustomerAddresses" 
                            SortMode="SortMode.Single" 
                            Filterable="true" 
                            Class="mb-8">
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="ID" />
                        <TemplateColumn Title="Standard">
                            <CellTemplate>
                                @{
                                    var address = context.Item;
                                    if (address.DefaultDeliveryAddress && address.DefaultInvoiceAddress)
                                    {
                                        <MudChip Color="Color.Success">Liefer- und Rechnungsadresse</MudChip>
                                    }
                                    else if (address.DefaultDeliveryAddress)
                                    {
                                        <MudChip Color="Color.Info">Lieferadresse</MudChip>
                                    }
                                    else if (address.DefaultInvoiceAddress)
                                    {
                                        <MudChip Color="Color.Warning">Rechnungsadresse</MudChip>
                                    }
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x => x.CompanyName" Title="Firma" />
                        <PropertyColumn Property="x => x.Firstname" Title="Vorname" />
                        <PropertyColumn Property="x => x.Lastname" Title="Nachname" />
                        <TemplateColumn Title="Anschrift">
                            <CellTemplate>
                                @{
                                    var address = context.Item;
                                    <span>@address.Street @address.HouseNr, @address.Zip @address.City</span>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@Size.Small" Color="@Color.Primary" OnClick="@(() => EditAddress(context.Item))"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="@Size.Small" Color="@Color.Error" OnClick="@(() => DeleteAddress(context.Item))"></MudIconButton>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
                
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           StartIcon="@Icons.Material.Filled.Add" 
                           OnClick="@(AddNewAddress)">
                    Adresse hinzufügen
                </MudButton>
            }
            else
            {
                <MudAlert Severity="Severity.Info" Class="mt-3 mb-6">Diesem Kunden sind keine Adressen zugeordnet.</MudAlert>
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           StartIcon="@Icons.Material.Filled.Add" 
                           OnClick="@(AddNewAddress)">
                    Adresse hinzufügen
                </MudButton>
            }
        </MudTabPanel>
        
        <MudTabPanel Text="Bestellungen">
            <MudAlert Severity="Severity.Info" Class="mt-3">Bestellungen können nicht direkt bearbeitet werden. Bitte nutzen Sie die Bestellansicht.</MudAlert>
        </MudTabPanel>
    </MudTabs>
</MudForm>

