@page "/Customers"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.Customer

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IApiDataProvider<ICollection<CustomerDetailDto>> _apiDataProvider

<PageTitle>Kunden</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Kunden</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Href="/Customers/Add" />
</MudStack>

@if (customers == null)
{
    <p><em>Lade...</em></p>
}
else
{

    <MudDataGrid Items="@customers" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Kundennr." />
            <PropertyColumn Property="x => x.FirstName" Title="Vorname" />
            <PropertyColumn Property="x => x.LastName" Title="Nachname" />
            <PropertyColumn Property="x => x.EnrollmentDate" Title="Kunde seit" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/Customers/{context.Item.Id}/edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {

    private ICollection<CustomerDetailDto>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await _apiDataProvider.Request("GET", "/Customers/GetAll");
    }
}