@page "/Orders"
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.Order
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager _navigationManager
@inject IOrderService _orderService

<PageTitle>Bestellungen</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Bestellungen</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Href="/Orders/Add" />
</MudStack>

@if (orders == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudDataGrid Items="@orders" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Bestellnr." />
            <PropertyColumn Property="x => x.CustomerId" Title="Kundennr." />
            <PropertyColumn Property="x => x.Status" Title="Status" />
            <PropertyColumn Property="x => x.DateCreated" Title="Datum" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/Orders/{context.Item.Id}/Edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {

    private ICollection<OrderVM>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await _orderService.GetOrders();
    }
}