@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] {typeof(maERP.Shared.Shared.MainLayout).Assembly}">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                Authorizing...
            </Authorizing>
            <NotAuthorized>
                <maERP.Shared.Pages.Auth.Login />
                @*<maERP.Shared.Shared.RedirectToLogin />*@
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>