@page "/Orders/{orderId:int}"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Bestellung @orderId</h1>

<MudGrid>

    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            <MudText Typo="Typo.h6">Datum</MudText>
            <MudText>@OrderDetail.DateOrdered Uhr</MudText>
            <MudText Typo="Typo.h6">Summe</MudText>
            <MudText>@OrderDetail.Total.ToString("C")</MudText>
            <MudText Typo="Typo.h6">Status</MudText>
            <MudText>@OrderDetail.Status</MudText>
        </MudPaper>
    </MudItem>

    @*
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            <MudText Typo="Typo.h6">Zahlungsart</MudText>
            <MudText>@order.PaymentMethod</MudText>
            <MudText Typo="Typo.h6">Zahlungsanbieter</MudText>
            <MudText>@order.PaymentProvider</MudText>
            <MudText Typo="Typo.h6">Zahlungsstatus</MudText>
            <MudText>@order.PaymentStatus</MudText>
        </MudPaper>
    </MudItem>
    *@

    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            <MudText Typo="Typo.h6">Rechnungsadresse</MudText>
            <MudText>
                @OrderDetail.InvoiceAddressFirstName @OrderDetail.InvoiceAddressLastName<br />
                @if (OrderDetail.InvoiceAddressCompanyName.Length > 0)
                {
                    @OrderDetail.InvoiceAddressCompanyName<br />
                }
                @OrderDetail.InvoiceAddressStreet<br />
                @OrderDetail.InvoiceAddressZip @OrderDetail.InvoiceAddressCity
            </MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            <MudText Typo="Typo.h6">Lieferaddresse</MudText>
            <MudText>
                @OrderDetail.DeliveryAddressFirstName @OrderDetail.DeliveryAddressLastName<br />
                @if(OrderDetail.DeliveryAddressCompanyName.Length > 0)
                {
                    @OrderDetail.DeliveryAddressCompanyName<br />
                }
                @OrderDetail.DeliveryAddressStreet<br />
                @OrderDetail.DeliverAddressZip @OrderDetail.DeliveryAddressCity
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudPaper Class="p-4 mt-4">
    <MudText Typo="Typo.h6">Artikel</MudText>
    <MudDataGrid Items="@OrderDetail.OrderItems" SortMode="SortMode.Single">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Produkt" />
            <PropertyColumn Property="x => x.Quantity" Title="Menge" />
            <PropertyColumn Property="x => x.Price" Title="Preis" Format="C" />
            @*<PropertyColumn Property="x => x.Quantity * x.Price" Title="Summe" Format="C" />*@
        </Columns>
    </MudDataGrid>
</MudPaper>