@page "/Products/Add"
@page "/Products/{productId:int}/Edit"
@using maERP.SharedUI.Contracts
@using maERP.SharedUI.Models.Product
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager _navigationManager
@inject IProductService _productService

@if (product == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudText Typo="Typo.h4" Class="mb-8">Produkt bearbeiten</MudText>

    <MudForm Model="@product" @ref="@_form">
        <MudGrid>
            <MudItem xs="6">
                <MudTextField @bind-Value="product.Name"
                              For="@(() => product.Name)"
                              Label="Name"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="true"
                              Class="mt-6" />

                <MudTextField @bind-Value="product.Sku"
                              For="@(() => product.Sku)"
                              Label="SKU"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="true"
                              Class="mt-6" />

                <MudTextField @bind-Value="product.Ean"
                              For="@(() => product.Ean)"
                              Label="EAN"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="false"
                              Class="mt-6" />

                <MudTextField @bind-Value="product.Price"
                              For="@(() => product.Price)"
                              Label="Preis in EUR"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="false"
                              Class="mt-6" />

                <MudTextField @bind-Value="product.Msrp"
                              For="@(() => product.Msrp)"
                              Label="UVP in EUR"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="false"
                              Class="mt-6" />

                <MudTextField @bind-Value="product.Description"
                              For="@(() => product.Description)"
                              Label="Beschreibung"
                              Variant="Variant.Text"
                              InputType="InputType.Text"
                              Required="false"
                              Class="mt-6" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Button"
                           OnClick="@(Save)"
                           Class="mt-6">Speichern</MudButton>
            </MudItem>
        </MudGrid>
    </MudForm>
}

@code {

    [Parameter]
    public int productId { get; set; }

    protected MudForm? _form;

    protected ProductVM product = new();

    protected override async Task OnParametersSetAsync()
    {
        if (productId != 0)
        {
            product = await _productService.GetProductDetails(productId);
        }
    }

    protected async Task Save()
    {
        if (productId != 0)
        {
            await _productService.UpdateProduct(productId, product);
        }
        else
        {
            await _productService.CreateProduct(product);
        }

        Cancel();
    }

    public void Cancel()
    {
        _navigationManager.NavigateTo("/Products");
    }
}