@page "/login"

@using System.Text.Json
@using maERP.Shared.Dtos.User;
@using maERP.Shared.Services;

@inject NavigationManager _navManager;
@* @inject AuthStateProvider _authStateProvider; *@

<h3>Login</h3>

<EditForm Model="@loginDto" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>E-Mail</label>
        <input type="email" @bind-value="loginDto.Email " class="form-control" placeholder="E-Mail Adresse" />
        <ValidationMessage For="@(() => loginDto.Email)" />
    </div>

    <div class="mt-2 form-group">
        <label>Passwort</label>
        <input type="password" @bind-value="loginDto.Password" class="form-control" placeholder="Passwort" />
        <ValidationMessage For="@(() => loginDto.Password)" />
    </div>

    @if (_showServerInput)
    {
        <div class="mt-2 form-group">
            <label>Server</label>
            <input type="url" @bind-value="loginDto.Server" class="form-control" placeholder="https://erp.domain.de" />
        </div>
    }

    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            <span class="@_spinnerClass" role="status" aria-hidden="true"></span>
            Login
        </button>
    </div>

    <div>@_errorMessage</div>
</EditForm>


@code
{
    LoginDto loginDto = new();
    private string loginServer = "";
    private bool _showServerInput = true;
    private string _spinnerClass = string.Empty;
    private string _errorMessage = string.Empty;

    private void onLoad()
    {
        /*
        if (Globals.ServerBaseUrl.Length > 0)
        {
            _showServerInput = false;
            loginServer = Globals.ServerBaseUrl;
        }
        */
        this.StateHasChanged();
    }

    private async void Submit()
    {
        _spinnerClass = "spinner-border spinner-border-sm";

        await Task.CompletedTask; // remove me
        /*
        var loginResponse = await _authStateProvider.LoginUser(loginDto);

        if (loginResponse.Succeeded)
        {
            _navManager.NavigateTo("/");
            return;
        }

        _errorMessage = loginResponse.Message;
        _spinnerClass = "";
        */

        this.StateHasChanged();
    }
}