@page "/SalesChannels/add"
@page "/SalesChannels/edit/{salesChannelId:int}"

@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Services;
@using maERP.Shared.Dtos;

@attribute [Authorize]

@inject NavigationManager _navManager;
@inject IDataService<SalesChannelUpdateDto> _dataService;

<h1>Vertriebskanal</h1>

<hr />

<EditForm Model="@salesChannel">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="Cellnumber" class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="@salesChannel.Name" />
        </div>
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">URL</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="@salesChannel.Url" />
        </div>
        <ValidationMessage For="@(() => salesChannel.Url)" />
    </div>

    <div class="mb-3">
        <label for="Address" class="form-label">Username</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="@salesChannel.Username" />
        </div>
        <ValidationMessage For="@(() => salesChannel.Username)" />
    </div>

    <div class="mb-3">
        <label for="Emailid" class="form-label">Passwort</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="@salesChannel.Password" />
        </div>
        <ValidationMessage For="@(() => salesChannel.Password)" />
    </div>

    <table class="table table-stripped align-middle table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Importieren</th>
                <th>Exportieren</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Produkte</td>
                <td><InputCheckbox @bind-Value="@salesChannel.ImportProducts" /></td>
                <td><InputCheckbox @bind-Value="@salesChannel.ExportProducts" /></td>
            </tr>
            <tr>
                <td>Kunden</td>
                <td><InputCheckbox @bind-Value="@salesChannel.ImportCustomers" /></td>
                <td><InputCheckbox @bind-Value="@salesChannel.ExportCustomers" /></td>
            </tr>
            <tr>
                <td>Bestellungen</td>
                <td><InputCheckbox @bind-Value="@salesChannel.ImportOrders" /></td>
                <td><InputCheckbox @bind-Value="@salesChannel.ExportOrders" /></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="SaveSalesChannel">Speichern</button>
        <button class="btn btn-light" @onclick="Cancel">Abbrechen</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public int? salesChannelId { get; set; }

    protected string Title = "hinzufügen";

    protected maERP.Shared.Dtos.SalesChannelUpdateDto salesChannel = new();

    protected override async Task OnParametersSetAsync()
    {
        if (salesChannelId != 0)
        {
            Title = "Bearbeiten";
            salesChannel = await _dataService.Request("GET", "/SalesChannel/" + salesChannelId);
        }

        await Task.CompletedTask;
    }

    protected async Task SaveSalesChannel()
    {
        await Task.CompletedTask;

        if (salesChannelId != 0)
        {
            await _dataService.Request("PUT", "/SalesChannel/" + salesChannelId, salesChannel);
        }
        else
        {
            await _dataService.Request("POST", "/SalesChannel", salesChannel);
        }
        Cancel();
    }

    public void Cancel()
    {
        _navManager.NavigateTo("/SalesChannel");
    }
}