@page "/SalesChannels"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.SalesChannel

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IApiDataProvider<ICollection<SalesChannelListDto>> _apiDataProvider

<PageTitle>Vertriebskanäle</PageTitle>

<MudStack Row="true" Class="mb-8">
    <MudText Typo="Typo.h4">Vertriebskanäle</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Href="/SalesChannels/Add" />
</MudStack>


@if (salesChannels == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudDataGrid Items="@salesChannels" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name" />
            <PropertyColumn Property="x => x.Url" Title="URL" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/SalesChannels/{context.Item.Id}/Edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {

    private ICollection<SalesChannelListDto>? salesChannels;

    protected override async Task OnInitializedAsync()
    {
        salesChannels = await _apiDataProvider.Request("GET", "/SalesChannels/GetAll");
    }
}