@page "/Users"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.User

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IApiDataProvider<ICollection<UserListDto>> _apiDataProvider

<PageTitle>Benutzer</PageTitle>

<MudText Typo="Typo.h4" Class="mb-8">Benutzer</MudText>

@if (users == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudDataGrid Items="@users" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Email" Title="E-Mail" />
            <PropertyColumn Property="x => x.FirstName" Title="Vorname" />
            <PropertyColumn Property="x => x.LastName" Title="Nachname" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/Users/{context.Item.Id}/edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <MudButton Href="/Users/add" Variant="Variant.Filled" Color="Color.Primary">Neu</MudButton>
}

@code {

    private ICollection<UserListDto>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await _apiDataProvider.Request("GET", "/Users/GetAll");
    }
}