@page "/Warehouses"
@using Microsoft.AspNetCore.Authorization
@using maERP.Shared.Contracts
@using maERP.Shared.Dtos.Warehouse

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IApiDataProvider<ICollection<WarehouseListDto>> _apiDataProvider

<PageTitle>Lager</PageTitle>

<MudText Typo="Typo.h4" Class="mb-8">Lager</MudText>

@if (warehouses == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <MudDataGrid Items="@warehouses" SortMode="SortMode.Single" Class="mb-8">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButton Href="@($"/Users/{context.Item.Id}/edit")" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Bearbeiten</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <MudButton Href="/Users/add" Variant="Variant.Filled" Color="Color.Primary">Neu</MudButton>
}

@code {

    private ICollection<WarehouseListDto>? warehouses;

    protected override async Task OnInitializedAsync()
    {
        warehouses = await _apiDataProvider.Request("GET", "/Warehouses/GetAll");
    }
}